In [2]:
from utils import MidiProcessor, prepare_data, concat_all_midi_to_df, MIDI_DIR, get_good_files

In [3]:
input_window_len = 32
pred_steps = 1
files = get_good_files()

df, tracks_len_list = concat_all_midi_to_df(files, return_tracks_len_list=True)

42 drum loops
31 percussion instruments
172314 32-notes

In [5]:
df.head()

note,0,3,29,30,31,35,36,38,40,41,...,53,54,55,56,57,59,61,67,68,69
0,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(172314, 31)

In [7]:
df.to_csv('drum', encoding='utf-8')

In [8]:
tracks_len_list

[2601,
 5281,
 1537,
 6101,
 3447,
 5759,
 4001,
 8569,
 5569,
 2287,
 4093,
 1937,
 5665,
 1521,
 4565,
 1053,
 958,
 7273,
 961,
 5632,
 2075,
 17505,
 4126,
 1913,
 3565,
 368,
 809,
 6363,
 3247,
 5065,
 6111,
 4811,
 5505,
 3135,
 3233,
 3329,
 5113,
 1085,
 5065,
 3757,
 2943,
 4381]