In [1]:
from utils import MidiProcessor, prepare_data, concat_all_midi_to_df, MIDI_DIR, get_good_files

In [2]:
input_window_len = 32
pred_steps = 1
files = get_good_files()

df, tracks_len_list = concat_all_midi_to_df(files, return_tracks_len_list=True)

42 drum loops
31 percussion instruments
172314 32-notes

In [6]:
df.head()

note,0,3,29,30,31,35,36,38,40,41,...,53,54,55,56,57,59,61,67,68,69
0,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0